@use "../../styles/colours.module.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid colours.$dark-tint;
  padding: 5px 2px;
}

@media (prefers-color-scheme: dark) {
  .select {
    color: colours.$light-tint;
    border: 1px solid colours.$light-tint;
    background-color: colours.$dark-tint;
  }
}
