@use "../styles/colours.module.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.stickyHeader {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 10px 0;
}

.patients {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

// increase padding for larger screens
@media (min-width: 800px) {
  .main {
    padding: 1rem 3rem;
  }
}

// set colours for light
.main,
.stickyHeader {
  color: colours.$dark-tint;
  background-color: colours.$light-tint;
}

// set colours for dark
@media (prefers-color-scheme: dark) {
  .main,
  .stickyHeader {
    color: colours.$light-tint;
    background-color: colours.$dark-tint;
  }
}
